body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  margin: 0; 
  font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

.wrapper {
  background-color:#dadada;
}

.header {
  background-image: url("1234.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
  line-height: 600px;
  text-align: center;
}

h1.top {
  /* padding-top: 250px; */
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  color: beige;
}

.nav {
  height: 80px;
  line-height: 80px;
  background-color: #fff7f7;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 6px 3px -3px rgb(0 0 0 / 20%);
  z-index: 100;
}

.list {
  padding-right: 30px;
  font-size: 25px;
}

.item {
  color: #014955;
  text-decoration: none;
}

.item:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.twitter {
  color: #1f6ed4;
  opacity: 0.8;
  text-decoration: none;
}

.twitter:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer_item {
  color: #fff;
  text-decoration: none;
}

.footer_item:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.titles {
  text-align: center;
  margin-bottom: 100px;
}

.title {
  font-size: 70px;
}

#profile {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f2f4f6;
}

.profile_contents {
  max-width: 1320px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.content01 {
  width: 30%;
}

.icon {
  width: 15vw;
}

.content01 img {
  margin: 0 auto;
}

.content02 {
  width: 70%;
}

.text {
  font-size: 20px;
}

#skill {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f0e6;
}

.career_title {
  font-size: 35px;
  display: inline;
}

.skill_contents {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.skill_content {
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
}

.skill_list {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

li {
  font-size: 20px;
  padding-top: 30px;
}

.list_title {
  font-weight: bold;
}

#app {
  padding-top: 100px;
  padding-bottom: 100px;
}

.app_contents {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.app_content {
  width: 45%;
  margin: 0 15px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.125);
}

.img_content {
  width: 94%;
  height: 650px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 3%;
  padding-right: 3%;
  margin: -5px auto;
  text-align: center;
  background-color: #fff;
}

.img {
  width: 100%;
  height: 500px;
  transition-duration: 0.5s;
}

.hover:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

h3 {
  font-weight: bold;
}

h4.text {
  height: 450px;
}

#contact {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 70px;
  background-color:#e4d1d3;
}

.contact_contents {
  text-align: center;
  padding: 0px 20px;
}

.icon02 {
  width: 150px;
}

.footer {
  height: 100px;
  padding-top: 30px;
  text-align: center;
  background-color: #221a12;
}

.footer_lists {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.footer_list {
  padding-right: 30px;
  font-size: 15px;
}

.footer_text {
  font-size: small;
  color: #8c8c8c;
}